{% extends 'base.html' %}

{% block content %}
<table class="table table-striped table-bordered">
  <thead>
    <th>Column</th>
    <th>Foreign key</th>
    <th>NOT NULL</th>
    <th>Type</th>
    <th>Modifiers</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for column in column_list %}
    <tr>
      <td><a name="{{ column['column'] }}">{{ column['column'] }}</a></td>
      <td>{{ column['foreign_key'] }}</a>
      <td>{{ column['is_not_null'] }}</td>
      <td>{{ column['type'] }}</td>
      <td>{{ column['modifiers'] }}</td>
      <td>{{ column['description'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
